<!-- <div id="banner">
    <img src="http://placehold.it/1920x700">
</div> -->
  <div class="banner">

    <header id="home">
        <div class="flexContainer animated fadeInUp">

<div class="row">
            <div class="flexItemHead">
              <p class="jumbo animated bounceInLeft" id="typed1"><</p>
            </div>
            <div class="flexItemHead">

            </div>
            <div class="flexItemHead rotate">
              <p><< About me</p>
            </div>
</div>
<div class="row">
            <div class="flexItemHead">
              <h1 class="typed" id="typed2"></h1>
                          <p id="typed3"></p>

            </div>
            <div class="flexItemHead">
            </div>
            <div class="flexItemHead">


            </div>
</div>
<div class="row">
            <div class="flexItemHead">
              <p class="jumbo animated bounceInRight" id="bounceleft">/></p>

            </div>
            <div class="flexItemHead">

            </div>
            <div class="flexItemHead">
            </div>
</div>
            <!-- <img src="<%=asset_path 'symbolopen.png'%>" alt=""> -->





        </div>
    </header>
  </div>

<!-- <div class="container"> -->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <section id="AboutMe">
        <div class="row flexContainerSmallWrap" style="display: flex; height: 100%">
          <div class="flexItem">
            <h1 style="text-transform: uppercase;">About</br>Me</h1>
        </div>
        <div class="flexItem grow2 flexItemMax50">
          <p class="strong onePointTwo">
            Hello!, I'm Sam Turner, User experience designer based in Pekanbaru.
          </p>
          <p class="light onePointTwo">Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices. Proin adipiscing porta tellus, ut
            feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.</p>
          <p class="strong onePointTwo">"Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis".</p>
        </div>
        <div class="flexItem">
          <img src="https://static.wixstatic.com/media/684ff7_818aa080a791448a91acb9f71e3fe218~mv2.jpg" width="248px" height="248px" alt="">
        </div>
      </div>
    </section>
  </div>
</div>
</div>

<div class="container-fluid YellowBG">
    <div class="container">
        <div class="row">
            <section id="Knowledge">
              <div class="flexItem">
                  <h1 style="text-transform: uppercase;">Knowledge</h1>
              </div>
                <div class="row flexContainerSmallWrap" style="display: flex; height: 100%">

                    <div class="flexItem">
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                    </div>
                    <div class="flexItem">
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="http://rometheme.net/muse/jonk/images/u1655-4.png?crc=422318784" alt="">
                            <div class="flexItem">
                                Lorem ipsum dolor sit ametconcer adipiscing elit. Aenean commodo. In eu justo a felis faucibus ornare vel id metus.
                            </div>
                        </div>
                    </div>
                    <div class="flexItem">
                      <div class="flexItem flexRow rotate">
                        <h4>
                        << Next
                      </h4>
                      </div>
                      <div class="flexItem flexRow">
                      <h3>My<br>Services</h3>
                    </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="container-fluid BlackBG">
    <div class="container">
        <div class="row">
            <section id="ProSkills">
                <div class="flexItem">
                    <!-- <div class="flexItem"> -->
                  <h1 style="text-transform: uppercase;"><span class="whiteText">My</span><br><span class="yellowText">Skills</span></h1>
                </div>
                    <div class="row flexContainerSmallWrap" style="display: flex; height: 100%">
                    <div class="flexItem">
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="20%">
                        <div class="skillbar-title" style="background-color: #d35400;">
                            <span>HTML5</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">20%</div>
                    </div>
                    <!-- End Skill Bar -->
                    </div>
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="25%">
                        <div class="skillbar-title" style="background: #2980b9;">
                            <span>CSS3</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">25%</div>
                    </div>
                    <!-- End Skill Bar -->
                    </div>
                    <div class="skillbar clearfix " data-percent="50%">
                        <div class="skillbar-title" style="background: #2c3e50;">
                            <span>jQuery</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">50%</div>
                    </div>
                    <!-- End Skill Bar -->
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="40%">
                        <div class="skillbar-title" style="background: #46465e;">
                            <span>PHP</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">40%</div>
                    </div>
                    </div>
                    <!-- End Skill Bar -->
                  </div>
                  <div class="flexItem">
                  <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="75%">
                        <div class="skillbar-title" style="background: #333333;">
                            <span>Wordpress</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">75%</div>
                    </div>
                    </div>
                    <!-- End Skill Bar -->
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="100%">
                        <div class="skillbar-title" style="background: #27ae60;">
                            <span>SEO</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">100%</div>
                    </div>
                    <!-- End Skill Bar -->
                    </div>
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="70%">
                        <div class="skillbar-title" style="background: #124e8c;">
                            <span>Photoshop</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">70%</div>
                    </div>
                    </div>
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="30%">
                        <div class="skillbar-title" style="background: #124e8c;">
                            <span>Rails</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">30%</div>
                      </div>
                    </div>
                  </div>
                    <!-- End Skill Bar -->
                <!-- </div> -->
            </section>
        </div>
    </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <section id="MyStory">
          <div id="TimeLineContainer">
              <h2>My Story &darr;</h2>
          </div>
          <section class="timeline">
            <ul>
              <li>
                <div>
                  <time>1934</time>
                  Some content here
                </div>
              </li>
              <li>
                <div>
                  <time>1934</time>
                  Some content here
                </div>
              </li>
              <li>
                <div>
                  <time>1934</time>
                  Some content here
                </div>
              </li>
              <li>
                <div>
                  <time>1934</time>
                  Some content here
                </div>
              </li>

              <!-- more list items here -->
            </ul>
          </section>
      </section>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <section id="MyWork">
          <div class="container">
              <h2>My Work</h2>
          </div>
      </section>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <section id="Blog">
          <div class="container">
              <h2>Blog</h2>
          </div>
      </section>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <section id="Contact">
          <div class="container">
              <h2>Contact</h2>
          </div>
      </section>
    </div>
  </div>
</div>
